.phrase
  .translations
    = link_to_audio(phrase.main_translation, :left)
    - if phrase.secondary_translation
      = link_to_audio(phrase.secondary_translation, :right)          
  .tags!= show_tags(phrase)
