%h1 Impressum

%p
  Orientalisches Institut der Universität Leipzig
  %br/
  Prof. Dr. Eckehard Schulz
  %br/
  Schillerstraße 6
  %br/
  04109 Leipzig

%p
  Telefon: +49 341 97-37200
  %br/
  Telefax: +49 341 97-37219

%p
  E-Mail: oil@rz.uni-leipzig.de 

%h1!= "Kontaktaufnahme zwecks Fehlerkorrektur, etc. bitte nur über #{link_to 'GitHub', 'https://github.com/sixtyfive/miteinander/issues'}!"
