html,body
  height: 100%
  width: 100%
  overflow-y: hidden
header
  background-color: #eee
  border-bottom: 1px solid #ccc
  height: 75px
  position: relative
  img
    height: 65px
    padding: .5em 0 0 .5em
  nav
    position: absolute
    bottom: -1px
    right: .5em
    border-bottom: 1px solid #ccc
    .button
      border-radius: 5px 5px 0 0
      margin: 0
      font-size: 8pt
      background-color: $dark_blue
      &:hover
        background-color: $light_red
body#admin-phrases a.admin-phrases,
body#admin-users a.admin-users,
body#admin-searches a.admin-searches,
  background-color: $dark_green
  cursor: default // The menu item is active, so what point in going here again?
main
  @include outer-container(100%)
  width: 100%
  height: calc(100% - 75px)
  aside
    @include span-columns(3)
    height: 100%
    overflow-x: hidden
    overflow-y: scroll
    ul
      font-size: 80%
      li
        border-bottom: 1px solid #eee
    a.button
      position: absolute
      bottom: .5em
      left: .5em
      font-size: 10pt
  article
    @include span-columns(9)
    font-size: 75%
    padding: 2em 2.5% 0 0
    h1
      margin-top: 0
