html,body
  height: 100%
  width: 100%
  overflow-y: hidden

main
  @include outer-container()
  width: 100%
  height: calc(100% - 75px)

  aside
    @include span-columns(2)
    height: 100%
    overflow-x: hidden
    overflow-y: scroll

    form input#search_text
      border-top: none
      border-left: none
      border-right: none
      border-bottom: 1px solid $dark_grey
      border-radius: 0
      font-size: 10pt
    ul
      padding: 0 .75em 4.5em .75em
      font-size: 80%
      li  
        border-bottom: 1px solid $medium_grey
        padding-left: .35em
        &.incomplete a
          color: $error-color
        .tags .label
          color: $black !important
        .tags
          margin: -.15em 0 .25em -.15em
          white-space: no-wrap
          height: 1.55em
          overflow: hidden
          .label
            margin-right: .35em
        .controls
          float: right
    .button
      position: absolute
      bottom: .5em
      left: .7em
      font-size: 10pt

  article
    @include span-columns(7)
    height: 100%
    overflow-y: auto
    font-size: 75%
    padding: .75em $gutter 1em 0
    h1
      margin-top: 0
    #error_explanation
      border: 1px solid $very_light_red
      @include span-columns(7 of 7)
      margin-bottom: 1em
      h3
        background-color: $very_light_red
        padding: .25em
        margin: 0 0 .25em 0
      ul
        list-style-type: square
        padding: 0 .5em .25em 0
        li
          margin-left: 1.75em
    .field_with_errors
      color: $dark_red
      span
        display: none
