article
  h1
    font-size: 14pt
    text-align: left
    border-bottom: 1px solid $dark_grey
  h1, form .buttons
    @include span-columns(7 of 7) // Fill until the end
  form
    position: relative
    div.phrase_approved
      position: absolute
      top: 0
      right: 0
    fieldset
      border: none
      padding: 0
      position: relative
      &.phrase,
      &.image_metadata,
      &.image
        @include span-columns(2 of 7) // 2+2+2=6 plus wiggle room
      &.translation
        @include span-columns(3 of 7) //   3+3=6 plus wiggle room
      &.image
        @include omega()
      &.translation
        background-color: #eee
        padding: .5em
        select
          margin-bottom: .5em
        .getusermedia label
          margin-bottom: -.5em
        a.button
          margin-top: .5em
        a.delete
          position: absolute
          top: 3px
          right: 8px
      &.buttons
        border-top: 1px solid #ccc
        margin-top: .75em
        padding: 1em 0 0 0
        text-align: right
        a.delete
          float: left
          padding-top: .5em
