article
  h1
    font-size: 14pt
    text-align: left
    border-bottom: 1px solid $dark_grey
  h1, form .buttons
    // Fill until the end
    @include span-columns(7 of 7) 

  form
    position: relative
    fieldset
      border: none
      padding: 0

      // ------------
      // Shared rules
      // ------------

      &.image,
      &.translation
        position: relative
      &.image a.delete,
      &.translation a.delete
        position: absolute
      &.phrase,
      &.image_metadata,
      &.image
        // 2+2+2=6 plus wiggle room
        @include span-columns(2 of 7)
      &.image
        @include omega()
      &.translation
        // 3+3=6 plus wiggle room
        @include span-columns(3 of 7) 

      // ----------
      // Upper part
      // ----------

      &.phrase .phrase_approved
        position: absolute
        top: 0
        right: 0
        input
          vertical-align: bottom
          position: relative
          top: -2px
      &.image
        input
          color: transparent
        img
          position: relative
          margin: -2.75em 0 .25em -.25em
          z-index: -1
          opacity: .5
        a.delete
          z-index: 1
          top: 1.5em
          right: .65em

      // -----------------
      // Translation boxes
      // -----------------

      &.translation
        background-color: #eee
        padding: .5em
        margin-bottom: .5em
        select
          margin-bottom: .5em
        .getusermedia label
          margin-bottom: -.5em
        a.button
          margin-top: .5em
        a.delete
          top: 0
          right: .35em

      // ----------
      // Lower part
      // ----------

      &.buttons
        border-top: 1px solid #ccc
        margin-top: .75em
        padding: 1em 0 0 0
        text-align: right
        a.delete
          float: left
          padding-top: .5em
