.turbolinks-progress-bar
  display: none
.flash
  position: absolute
  width: 30%
  left: 50%
  margin-left: -15%
  top: 0
  border-radius: 10px
  padding: .25em .25em .25em .5em
  font-size: 10pt
  
a
  color: $dark_blue
  &:visited
    color: $dark_blue
  &:hover,
  &:active,
  &:focus
    color: $light_red

#{$all-buttons},
.button
  background-color: $dark_blue
  color: white
  &:visited
    background-color: $dark_blue
    color: white
  &:hover,
  &:active,
  &:focus
    background-color: $light_red
    color: white
    
body
  padding: 1em
header,
main,
  @include outer-container(960px)
header
  position: relative
  img
    @include span-columns(4 of 12)
    @include media($mobile)
      @include span-columns(8 of 12)
      padding-top: 1.5em
  nav
    top: 0
    right: 0
    position: absolute
    padding: 0
    margin: 0
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        display: inline-block
        a
          font-size: 20pt
          padding: .55em .85em .5em .85em !important
main, #phrases_list
  margin-top: 1em
#beta_banner
  position: fixed
  z-index: -1
  bottom: 0
  right: 0
