#pages_show
  
  &.pages_tag_directory ul 
    list-style-type: square
    padding: 0 0 0 1.25em
    div
      @include span-columns(2)
      @include media($mobile)
        @include span-columns(12)
      margin-bottom: 1em
      
  &.pages_imprint ul
    margin: 0
    li
      display: inline-block
      img
        height: 30px
        margin: 0 1rem 1rem 0
