form.search-bar button
  background-color: transparent
  padding: 3px 10px 7px 10px !important

#phrases_list
  margin-top: 1.125em
  .phrase
    overflow: hidden
    border-radius: 3px
    background-color: $red2
    margin-bottom: 1em
    border: 1px solid $grey3
    box-shadow: 6px 7px 11px -5px rgba(0, 0, 0, 0.65) // 65% black
    vertical-align: top
    @include omega(4n)
    @include span-columns(3)
    @include media($mobile)
      @include omega(1n)
      @include span-columns(12)
      
    a
      text-decoration: none
      color: $black
      &:hover,
      &:active,
      &:focus
        color: $teal1
    .translations
      padding: .5em
      .left,
      .right
        padding-bottom: .35em
      .left
        float: left
      .right
        float: right
        
    .tags
      clear: both
      padding-left: .25em
      background-color: $red1
      overflow: hidden
      height: 1.6em
      text-align: center
      font: 10pt
      span
        margin: 0 .25em .2em 0
        padding: .15em .5em .2em .5em
        background-color: $grey3
