body
  font-family: 'Vollkorn'
*[lang=ar]
  direction: rtl
  unicode-bidi: bidi-override
  font-family: 'Lateef' !important
header
  border-bottom: 1px solid #eee
  width: 300px
  background-color: #ABEED0
  margin-bottom: 8px
  padding: .5em 0
  text-align: left
  ul
    list-style-type: none
    margin: 0
    padding: 0
    position: absolute
    top: 15px
    left: 14px
    li
      font-size: 20px
      a
        color: #008F4E !important
        &:hover
          color: #DB1F00 !important
          background-color: transparent
  h1
    font-family: 'Dancing Script'
    margin: 3px 0 0 30px
    color: #008F4E
article#phrases_index
  width: 300px
  a, a:visited
    color: #DB7969
  a:hover
    color: #DB1F00
    background-color: transparent
  a#new_phrase
    background-color: #DBACA4
    width: 100%
    font-size: 20px
    display: block
    margin-top: 8px
    text-align: center
    padding: 3px 0
    &:hover
      background-color: #DB7867
