= simple_form_for(:user, url: user_sessions_path, method: :post) do |f|
  .row
    .large-6.columns= f.input :email
    .large-6.columns= f.input :password
  .row
    .large-12.columns= f.submit "Anmelden", class: 'full-width button'
