%h2= t('.login', default: 'Login')
%p!= t('.new_account.text', sign_up: link_to(t('.new_account.sign_up', default: 'Create account'), sign_up_path), default: "Haven't got an account yet? %{sign_up}%!")
= render 'form'
